.List {
    border: 1px solid #d9dddd;
}

.ListItemEven, .ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1px solid black;
}

.ListItemEven {
    background-color: #f8f8f0;
}