.List {
    border-right: 1px solid #61486A;
    border-left: 1px solid #61486A;
}

.ListItemEven, .ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1px solid #61486A;
}

.ListItemEven {
    background-color: #F9F6F9;
    border-top: 0.1px solid #61486A;
    border-bottom: 0.1px solid #61486A;
}